<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini SOC Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% if session.get('user_id') %}
    <div class="navbar">
        <div>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('logs') }}">Logs</a>
            <a href="{{ url_for('alerts') }}">Alerts</a>
            <a href="{{ url_for('threat_intel') }}">Threat Intel</a>
        </div>
        <div class="nav-right">
            Logged in as <strong>{{ session.get('username') }}</strong> | <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
    {% endif %}

    <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="flash">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </div>
</body>
</html>
